{% extends 'base.html' %}
{% load static %}
{% load filters_tags %}

{% block title %}Пользователи{% endblock title %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/accounts/accounts.css' %}">
{% endblock meta %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Пользователи</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Список пользователей</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="dataTable_length">
                                <label>Показать
                                    <select name="dataTable_length" aria-controls="dataTable" class="custom-select-js custom-select-sm form-control form-control-sm">
                                        <option value="5" {% if paginate_by == '5' %} selected {% endif %}>5</option>
                                        <option value="10" {% if paginate_by == '10' %} selected {% endif %}>10</option>
                                        <option value="25" {% if paginate_by == '25' %} selected {% endif %}>25</option>
                                        <option value="5    0" {% if paginate_by == '50' %} selected {% endif %}>50</option>
                                    </select> пользователей
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                {% if 'alphabet' in request.path %}
                                    <div id="filterAlphabet">
                                        <label>Выборка по алфавиту: </label>
                                        <button type="submit" value="А-Г" name="alphabet_range" class="btn btn-light btn-icon-split {% if 'А-Г' in request.GET.values %} active {% endif %}">
                                            <span class="text">A - Г</span>
                                        </button>
                                        <button type="submit" value="Д-Ж" name="alphabet_range" class="btn btn-light btn-icon-split {% if 'Д-Ж' in request.GET.values %} active {% endif %}"">
                                            <span class="text">Д - Ж</span>
                                        </button>
                                        <button type="submit" value="З-Л" name="alphabet_range" class="btn btn-light btn-icon-split {% if 'З-Л' in request.GET.values %} active {% endif %}"">
                                            <span class="text">З - Л</span>
                                        </button>
                                        <button type="submit" value="М-П" name="alphabet_range" class="btn btn-light btn-icon-split {% if 'М-П' in request.GET.values %} active {% endif %}"">
                                            <span class="text">М - П</span>
                                        </button>
                                        <button type="submit" value="Р-У" name="alphabet_range" class="btn btn-light btn-icon-split {% if 'Р-У' in request.GET.values %} active {% endif %}"">
                                            <span class="text">Р - У</span>
                                        </button>
                                        <button type="submit" value="Ф-Ч" name="alphabet_range" class="btn btn-light btn-icon-split {% if 'Ф-Ч' in request.GET.values %} active {% endif %}"">
                                            <span class="text">Ф - Ч</span>
                                        </button>
                                        <button type="submit" value="Ш-Я" name="alphabet_range" class="btn btn-light btn-icon-split {% if 'Ш-Я' in request.GET.values %} active {% endif %}"">
                                            <span class="text">Ш - Я</span>
                                        </button>
                                    </div>
                                    {% else %}
                                <form id="filterForm">
                                    <label>Компания:
                                        <input type="text"  class="form-control form-control-sm" value="{{ filter_company }}" name="company">
                                    </label>

                                    {% if all_sections %}
                                        <label>Отдел:
                                            <!--<input type="text"  class="form-control form-control-sm" value="{{ filter_company }}" name="company">-->
                                            <select id="selectSection" class="form-control form-control-sm" name="section">
                                                <option value="" {% if not filter_section %} selected {% endif %}>Все</option>
                                                {% for section in all_sections %}
                                                    <option value="{{ section.0 }}" {% if section.0|slugify == filter_section %} selected {% endif %}>{{ section.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    {% endif %}

                                    <button type="reset" class="btn-reset-js btn btn-danger btn-icon-split"><span class="text">Сбросить</span></button>
                                    <button type="submit" class="btn btn-primary btn-icon-split"><span class="text">Поиск</span></button>
                                </form>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>ФИО</th>
                                <th>Возраст</th>
                                <th>Компания</th>
                                <th>Должность</th>
                                <th>Отдел</th>
                                <th>Дата начала работы</th>
                                <th>Дата окончания работы</th>
                                <th>Статус</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>ФИО</th>
                                <th>Возраст</th>
                                <th>Компания</th>
                                <th>Должность</th>
                                <th>Отдел</th>
                                <th>Дата начала работы</th>
                                <th>Дата окончания работы</th>
                                <th>Статус</th>
                            </tr>
                            </tfoot>

                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <a href="{% url 'accounts:detail' user.pk %}">
                                            {{ user.id }}
                                        </a>
                                    </td>
                                    <td>{{ user.get_full_name }}</td>
                                    <td>{{ user.get_age }}</td>
                                    <td>{{ user.company.title }}</td>
                                    <td>{{ user.position }}</td>
                                    <td>{{ user.get_section }}</td>
                                    <td>{{ user.start_date|default_if_none:'' }}</td>
                                    <td>{{ user.end_date|default_if_none:'Работает в настоящее время' }}</td>
                                    <td>{{ user.get_status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                                Всего пользователей {{ all_users }}, показаны {{ page_obj.start_index }} - {{ page_obj.end_index }}
                            </div>
                        </div>

                        {% if is_paginated %}
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li class="paginate_button page-item previous">
                                                <a href="?{% url_replace request 'page' page_obj.previous_page_number %}" class="page-link">Предыдущая</a>
                                            </li>
                                        {% else %}
                                            <li class="paginate_button page-item previous disabled">
                                                <a class="page-link">Предыдущая</a>
                                            </li>
                                        {% endif %}

                                        {% if page_obj.number|add:'-2' > 1 %}
                                            <li class="paginate_button page-item">
                                                <a href="?{% url_replace request 'page' 1 %}" class="page-link">1</a>
                                            </li>

                                            <li class="paginate_button page-item disabled">
                                                <a class="page-link">…</a>
                                            </li>
                                        {% endif %}

                                        {% for page in paginator.page_range %}
                                            {% if page == page_obj.number %}
                                                <li class="paginate_button page-item active">
                                                    <a class="page-link">{{ page }}</a>
                                                </li>
                                            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                                                <li class="paginate_button page-item">
                                                    <a href="?{% url_replace request 'page' page %}" class="page-link">{{ page }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if paginator.num_pages > page_obj.number|add:'2' %}
                                            <li class="paginate_button page-item disabled">
                                                <a class="page-link">…</a>
                                            </li>
                                            <li class="paginate_button page-item">
                                                <a href="?{% url_replace request 'page' paginator.num_pages %}" class="page-link">{{paginator.num_pages}}</a>
                                            </li>
                                        {% endif %}

                                        {% if page_obj.has_next %}
                                            <li class="paginate_button page-item next">
                                                <a href="?{% url_replace request 'page' page_obj.next_page_number %}" class="page-link">Следующая</a>
                                            </li>
                                        {% else %}
                                            <li class="paginate_button page-item next previous">
                                                <a class="page-link">Следующая</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock content %}

{% block script %}
    <script src="{% static 'js/accounts/accounts.js' %}"></script>
{% endblock script %}